<div class="container">
  <div class="row pushdown">
<% if can? :all, Project %>
            <%=link_to "Edit Project", edit_project_path(@project), class: "btn btn-primary buttonspace" %>
            <% end %>
            

            <%=link_to "Project List", projects_path, class: "btn btn-primary", 'data-no-turbolink' => true %>
            

</div>
<div class="row">
<ul class="list-group">
  <li class="list-group-item">
    <h2><%= @project.project_name %></h2><h3>DSA Number <%= @project.dsa_number %></h3>
  </li>
  <li class="list-group-item">
    <p><h5><%= @project.project_scope %></h5></p>
  </li>
  <% if can? :all, District %>
  <li class="list-group-item">
    <%= @project.district.district_name %>
  </li>
  <% end %>
  <% @project.documents.each do |document| %>
  <li class="list-group-item">
  
    <%= link_to document.document_name, document.doc.url(:original, false) %>

  </li>
  <% end %>
</ul>
</div>
</div>
