<%=form_for(@school, {class: "form-horizontal"}) do|f| %>
<legend>Select a district then input school name:</legend>
<div class="form-group pushdown">
<%= f.collection_select(:district_id, District.all, :id, :district_name,{include_blank: 'Select District'}, {class: "special"}) %>
</div>
<div class="form-group pushdown">
  <%= f.text_field :school_name, placeholder:"Input School Name", class: "form-control" %>
  </div>
  <div class="form-group">
  <%=link_to "Cancel", schools_path, class: "btn btn-default buttonspace" %><%=f.submit "Update School", class: "btn btn-primary" %>
  <% end %>
  </div>