
  <div class="row pushdown">
<% if can? :all, School %>
            <%=link_to "Edit School", edit_school_path(@school), class: "btn btn-primary pushright" %>
            <% end %>
            

            <%=link_to "School List", schools_path, class: "btn btn-primary", 'data-no-turbolink' => true  %>
            

</div>
<div class="row">
<ul class="list-group">
  <li class="list-group-item">
    <h2><%= @school.school_name %></h2>
  </li>
  <li class="list-group-item">
  <h3><%= @district.district_name %></h3>
  </li>
  <li class="list-group-item">
  <% @projects.each do |project| %>
  </li>
  <li class="list-group-item">
  
    <%= link_to project.project_name, project_path(project)%>&nbsp;&nbsp;<h6>DSA Number:&nbsp;<%= project.dsa_number %></h6>

  </li>

  <% end %>
</ul>
</div>
